# Dependencies
/Neo-MoFox-Launcher/node_modules
/Neo-MoFox-Launcher/dist

# Logs
/Neo-MoFox-Launcher/logs
/Neo-MoFox-Launcher/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local

# IDEs and editors
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-project
*.sublime-workspace

# Operating system files
.DS_Store
Thumbs.db
s.txt
/aur
!/aur/PKGBUILD
!/aur/neo-mofox-launcher.desktop
!/aur/neo-mofox-launcher.sh

# Windows保留文件名喵
[Cc][Oo][Nn]
[Pp][Rr][Nn]
[Aa][Uu][Xx]
[Nn][Uu][Ll]
[Cc][Oo][Mm][0-9]
[Ll][Pp][Tt][0-9]
